body{
    background-color: #630D16 !important;

}
div h5 {
    text-align: center;
    background-color: #c41f2c;
    color: #ffc44e;
    padding:0;
    margin:0 auto;
    border-radius: 30px;
    line-height:30px;
}

.affix-below {
    position: relative;
    top: 5%;
    left:12%;
    margin: 0 auto;
}
.hometext p {
    font-size:16px;
}
.sidemenu {
    position: fixed;
    top:25%;
    left:15%;
    width:200px;
    text-align: center;
    border-radius: 20px;
    margin: 0;
    padding:0;

}

.sidemenu li a {
    background-color: #7e241b;
    color: #ffbf5b;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #d83029 !important;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #d8473f !important;
}

#myCarousel{
    position:relative;
    top:20px;
    height:300px;
    width:850px;
    padding:0px;
    margin:0px;
    border-radius: 30px;
    overflow: hidden;
}
.hometext {
    color: #ff9a4b;
    margin-top: 30px;
}


.carousel-indicators {
    height: 10px;
}
.carousel-indicators li{
    height: 6px !important;
    width: 6px !important;
    border-radius: 50% !important;
}
.carousel-indicators li.active{
    height: 8px !important;
    width: 8px !important;
    border-radius: 50% !important;
}
h1 {
    color: #ff9a4b !important; ;
    position: relative;
    left:200px;
    top:20px;
}

/*КОНТАКТИ*/

.contacts {
    color: #ff9a4b !important;
    margin-top: 10%;

}
.container .contacts {
    width: 1000px;
}

/*ГАЛЕРИЯ*/
.gallery {
    margin-top:10%;
}
.gallery img {
    margin:20px;
}
.img-thumbnail {
    width:200px;
}

body .modal-admin {
    /* new custom width */
    max-width:650px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin: 5% 25%;
}


/*МЕНЮ*/
.foodmenu {
    position: fixed !important;
    top:5% !important;
    left:25% !important;
    background-color: #a32129;
    width:63%;

    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border-radius: 10px !important;
}
.foodmenu li {
    flex: 0 1; /* Default */
    list-style-type: none;
}
.foodmenu>li>a {
     transform: none;
     color: #ffcf61;
 }
.foodmenu>li>a:hover {
    transform: none;
   background-color: #d83029 !important;
}
.main-menu {
    margin-top:1%;
}
.heightt{
    height:100px;
    width: 100%;
    z-index: 10;
    background-color: #630D16 !important;
}
.bottomm {
    background-color: #630D16;
    height:30px;
    width: 100%;
    z-index: 10;
    overflow: hidden;
}
.footer {
    text-align: right;
    font-size:10px;
    color:  #d89a4f;
}
#menu {
    overflow-x:hidden;
    color:  #d89a4f;
}
.table>tbody>tr>td,
.table>tbody>tr>th {
    border: none !important;
    color:  #d89a4f;
}

.infobar {
    position:fixed !important;
    top:11%;
    width: 53% !important;
    text-align: center !important;
    padding:0;
    border-bottom: 1px outset #d89a4f ;
}
.infobar li {
display: inline !important;
    text-transform: none;
}
.infobar li a {
    text-decoration: none;
    color:  #d89a4f;
    font-weight: bold;
    font-size: 18px;
}
.infobar li a:nth-child(3) {
padding-left:20px;
}

#menu .container {
    width: 800px !important;
}
.menu-category {
    background-color: #7e241b;
    text-align: center;
}
.menu-category td {
    color:white;
    border-radius:20px;
}
.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background-color: #7e241b !important;
}
