/*BODY */
body {
    margin:0;
    height:100%;
    overflow: hidden;
}

#particles-js {
 height: 100%;
    background: #140812;
    z-index: -9999;
}
div.main {
    background-color: transparent;
    width: 50%;
    position:absolute;
    top:12%;
    left:25%;
    z-index: 1000;
    border:transparent;
    border-radius: 30px;
    opacity:1;
    perspective: 800px;
}

/*tabs*/
#tabs_container  {
    background-color: #cacaca;
    border:transparent;
    border-radius: 20px;
    margin-top:20px;
}
div.content {
    padding:20px;
}
ul.menu {
    background-color: transparent;
    list-style:none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    border:transparent;
    border-radius: 20px 0 0;
    text-align: center;
}
ul.menu li {
    flex: 1 auto;

}

#tabs > ul.menu > li > a{
    background: linear-gradient(to bottom, rgba(147,141,147,1) 0%,rgba(15,15,15,1) 50%);
    border-radius: 10px;
    flex: 0 auto;
    padding:10px 50px;
    color: #cacaca;
    text-decoration: none;
}

#tabs > ul.menu > li > a:hover {
    background: linear-gradient(to bottom, rgba(147, 141, 147, 1) 0%, rgba(89, 24, 77, 1) 50%);
}

#tabs > ul.menu > li > a:focus {
    background: linear-gradient(to bottom, rgba(147, 141, 147, 1) 0%, rgba(89, 24, 77, 1) 50%);
    outline:none;
}
/*CONTENT*/

/*TAB-1*/
.profile{
        position: fixed;
        left:500px;
        top:250px;
}
.profile h1{
   color: #1c0526;
    text-shadow: 1px 1px 1px #1c0526;
}
.profile h2{
    color: #100416;
    text-shadow: 1px 1px 1px #1c0526;
    position:relative;
    bottom:20px;
    left:10px;
}
#tabs-1 img {
    width: 200px;
    border:transparent;
    border-radius: 20px;
    position:fixed;
    left:520px;
    top:90px;
}
@media only screen and (max-width: 1400px) {
    #tabs > ul.menu > li > a{
        padding:10px 40px;
    }
    div.main {
        top:3%;
    }
    #tabs-1 img  {
        width: 150px;
        border:transparent;
        border-radius: 20px;
        position:fixed;
        left:500px;
        top:110px;
    }
    .profile h1{
        color: #1c0526;
        text-shadow: 1px 1px 1px #1c0526;
        font-size:20px;
    }
    .profile h2{
        color: #100416;
        text-shadow: 1px 1px 1px #1c0526;
        position:relative;
        bottom:10px;
        left:-5px;
        font-size:18px;
    }

    #tabs-2 {
        width: 1000px !important;
        right:190px !important;
    }
    .text {
        display: inline-block;
        width: 46% !important;
}
    #tabs-3 img {
        width: 23% !important;
        margin: 3px !important;
    }
        #tabs-4 > div > div.righter > ul {
            padding:0;
        }
    div.righter {
        width: 41%;
    }

}
#tabs-1 h3 {
    padding: 3px;
}
.skillsheading {
    background: linear-gradient(to bottom, rgba(147, 141, 147, 1) 0%, rgb(35, 9, 29) 50%);
    border:transparent;
    border-radius: 10px;
    width:40%;
    color: #e6e6e6;
    text-align: center;
}
ul.skills {
    list-style:none;
}
.fa-check-square {
    color: #1c0526 !important;
}
ul.skills li {
    font-size:17px;
    color: black;
    font-weight:bold;
}

/*TAB-2*/

#tabs-2 {
    width: 1200px;
    position:relative;
    right:230px;
    background-color: #cacaca;
    margin:0 auto;
    padding:20px;
    border-radius: 20px;
}

.thumbnail {
    position:relative;
    width: 120px;
    -webkit-transition: all 0.2s ease; /* For Safari 3.1 to 6.0 */
    transition: all 0.2s ease;
    border:transparent;
    border-radius: 2px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    transform-origin: left center;
    float:left;
    clear:both;
}

.thumbnail:hover {
    transform: scale(5);
    z-index: 9999;
    transform-origin: left center;
    -webkit-transition: all 0.5s ease; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s ease;

}
a.links {
    text-decoration: none;
    color: #d9e13c;
}
a.links:hover {
    color: #2fdafe;
}

.text {
   display: inline-block;
    width: 47%;
    background-color: #0b030f;
    padding:15px;
    border:transparent;
    border-radius: 10px;
    color: #dbdbdb;
    margin:5px 0;

}
.text img {
    padding-right: 15px;
}
li.project {
    display:inline;;
}
#tabs-2 ul {
    margin:0;
    padding:0;
}
#tabs-2 ul li {
    list-style: none;
    padding: 3px;
    text-align: justify;
}
/*TAB-3*/
#tabs-3 {
    background-color: #140812;
    margin:0;
    padding: 0;
}
#tabs-3 img {
    width: 24%;
    margin:2px;
    border:transparent;
    border-radius: 10px;
}


/*TAB-4*/

#tabs-4 .skillsheading h3 {
    padding:10px;
    background: linear-gradient(to bottom, rgba(147, 141, 147, 1) 0%, rgb(49, 12, 38) 50%);
    border-radius: 10px;
    width: 150px;
    color: #d2d2d2;

}
div.lefter {
    margin-left:50px;
    width: 50%;
    display: inline-block;
}
div.lefter h3{
   position:absolute;
    top: 100px;
}
div.lefter h4 {
    position:absolute;
    top: 140px;
}

div.righter {
    width: 40%;
    display: inline-block;
}


.righter ul img {
float:left;
}

span.higher {
    display: block;
    font-weight:bold;
    font-size:18px;
    color: #2a2a2a;
    margin-left: 48px;
}

span.lower {
    text-decoration: none;
    color: #072c4b;
    margin-left: 10px;
    font-size:15px;
}

.righter li {
     height:50px;
     display: block;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:15px;
    border:transparent;
    border-radius: 10px;
 }

.righter li:hover {
    background-color: #b5aeb9;
}

.righter li a {
    text-decoration: none;
}

.righter li a span.lower:hover {
   color: #4d91b7;
}

.social {
    width:40px;
}

.fa {
    font-size:18px !important;
    color:royalblue;
}
#tabs-4 .lefter h3 {
    color: #280028;
    font-size:35px;
    text-shadow: 1px 1px 1px black;
    margin:2px;
}
#tabs-4 .lefter h4 {
    margin:10px 0 20px;
    color: #27173e;
    font-size:30px;
    text-shadow: 1px 1px 1px #76637e;
}
#tabs-4 p {
    font-weight:bold;
    font-size:17px;
    color: #03101e;
}

/*moving box*/
