@media (max-width: 1008px) {
    #nav.shrink {
        height: 100px;
        transition: all ease .5s;
        background-color: white;
        opacity: 0.9;
    }
    #nav.shrink img {
        margin-top:15px;
        transition: all ease .5s;
    }
    .navbar-collapse.collapse.in {
        background-color: white;
        opacity: 0.9;
        width: 80%;
        margin: 0 auto;
        margin-top: 30px;
        border: transparent;
        border-radius: 15px;
        position: relative;
        z-index: 10000;
    }
    body > nav > div > div.navbar-header > button {
        height:40px;
        margin-top:30px;
        margin-right: 50px;
    }


    body > nav > div > div.navbar-header {
        height: 99px;
    }

    img.logo {
        margin-top: 15px;
        margin-left: 40px;
    }


    #navcol-1 > ul > li > a {
        padding:10px;
        color: #3b3b3b;
    }

    #navcol-1 > ul > li > a:focus {
        color: #4176a1;
    }

    #navcol-1 > ul {
        margin: 0;
    }

    #navcol-1 {
        margin: 0 auto;
        padding: 0;
    }


    .nav.navbar-nav > li > a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #3296fd;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0px;
    }

    .nav.navbar-nav > li > a:hover:after {
        width: 100%;
        left: 0;
    }

    /*HEADER*/

    .header-inner-text h1 {
        font-size: 4rem;
    }

    .header-inner-text span {
        font-size: 3rem;
    }

    .header-inner-text button {
        font-size:2rem;
        padding: 5px 10px;
    }

/*WHAT WE DO*/

    .what {
        margin:60px 20px 20px;
    }
    .what p {
        margin: 30px 30px;
        font-size: 20px;
    }
    .who_column {
        margin-bottom: 45px;
    }
    .who_column .button{
        margin-top:25px;
        background-color: #2aabd2;
        padding: 10px 20px;
        color: #fff;
        font-size: 16px;
        border-radius: 25px;
        border:transparent;
    }

    /*WHO WE WORK WITH*/
    .work_with_inner_text  {
        margin-top: 40px;

    }
    .work_with_inner_text h1 {
        margin-bottom:  20px;
    }
    .work_with_inner_text p {
        margin: 30px 50px;
        font-size:16px;
    }

    .work_with_inner_text ul{
        margin-top:20px;
        padding-left:50px;

    }
    .work_with_inner_text ul li {
        padding:5px;
        font-size:16px;
        text-align: left;
        list-style: none;
    }


    /*technologies we weork*/


    .technologies_we_work {
      width: 80%;
    }


    .technologies_we_work h1 {
        text-align: center;
        margin-bottom: 50px;
    }

    .technologies_we_work .fa {
      font-size: 34px;
      color: #264749;
    }


    #copy-right {
      text-align: center;
      background: black;
      color:white;
    }

    .footer {
    background: url("../../img/map.jpg") no-repeat center;
    background-size: cover;
    height:35%;
    position: relative;
    display: flex;
    flex:0 auto;
    }

    #connect {
      color:white;
      margin-left:102px;
    }

    #connect .fa {
      font-size: 20px;
      color:#64bfdb;
      margin-right: 5px;
      margin-bottom: 7px;
    }
    #findUs {
      display:none;
}



}
